/* html, body {
    overflow-x:hidden 
  } */
body {
    background-color: #f2efea;
}

.navbar {
    background: transparent !important;
    transition: all 0.7s;
}
.navbar-brand {
    font-size: 28px;
    font-family: Viga;
    font-weight: bold;
}
.navbar.change{
    background-color: #f2efea !important;
    box-shadow: rgb(0 0 0 / 10%) 0 20px 25px -5px, rgb(0 0 0 / 4%) 0 10px 10px -5px;
    transition: all 0.7s;
}
.nav-link {
    font-family: 'Segoe UI', sans-serif;
    text-shadow: 1px 1px 3px rgba(116, 116, 116, 0.5);
    padding-right: 2rem !important;
    font-size: 14px;
    font-weight: 650;
    text-transform: uppercase;
}
.nav-link:hover {
    color: #8cbbc5 !important;
}

.jumbotron .jintro {
    font-weight: 400;
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1.2s;
}
.jumbotron h2 span {
    color: #8cbbc5;
    font-weight: 500;
}
.jumbotron .ptype    {
    font-size: 1.2rem;
    font-weight: 600;
    color:gray;
    overflow:hidden;
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1.2s;
}

.jumbotron p .cursor  {
    overflow: hidden;
    border-right: .15em solid gray;
    white-space: nowrap;
    margin-left:.1rem;
    letter-spacing: .15em;
    animation: 
      typing 3s steps(40, end),
      blink-caret .75s step-end infinite;
}
.jumbotron .jimg {
    padding-top: 4rem;
    padding-left: 5rem;
    opacity: 0;
    transform: translate(50px, 0);
    transition: 1.2s;
}
.jumbotron .hero {
    padding-top: 10rem;
}
.jumbotron .sosmed {
    margin-bottom: 15px;
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1.2s;
}
.jumbotron .sosmed a {
    padding-right: 1rem;
}
.jumbotron .sosmed .bi {
    font-size: 1.5em;
}
.jumbotron .cv {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    background: linear-gradient(90deg, #6e948b 1.9%,#8ebdb2 30.72%,#8cbac4 47.53%,#91cedb 71.52%,#eec17d 99.38%);
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 1.2s;
}
.jumbotron .cv .bi {
    padding-left: 5px;
}
.jintro.jMuncul, .ptype.jMuncul, .sosmed.jMuncul, .cv.jMuncul, .jimg.jMuncul {
    opacity: 1;
    transform: translate(0,0);
    transition: 1.2s;
}

  /* typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: gray; }
  }


.about {
    padding-top: 6rem;
    opacity: 0;
    transform: translate(0, -70px);
    transition: 1.2s;
}
.about.aMuncul {
    opacity: 1;
    transform: translate(0,0);
    transition: 1.2s;
}
.about span {
    color: #8cbbc5;
    font-weight: 500;
}
.about h3 {
    font-weight: 400;
}
.about .intro::after {
    content: '';
    display: block;
    border-bottom: 2px solid #8cbbc5;
    width: 5%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}


.skills {
    padding-top: 6rem;
    opacity: 0;
    transform: translate(-70px, 0);
    transition: 1.2s;
}
.skills.sMuncul {
    opacity: 1;
    transform: translate(0,0);
    transition: 1.2s;
}
.skills span {
    color: #8cbbc5;
    font-weight: 500;
}
.skills h3 {
    font-weight: 400;
}
.all-skill {
    padding-top: 2rem;
}
.skill-1 {
    border: 2px solid #f30;
    height: 180px;
    width: 180px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.skill-1::before {
    transition: .8s all ease;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    content: '';
    background: rgba(255, 51, 0, 0.5);
    border-radius: 5px
}
.skill-1:hover::before {
    opacity: 1;
    transition: .8s all ease;
    top: 0;
    z-index: -1
}
.skill-2 {
    border: 2px solid #0a85ff;
    height: 180px;
    width: 180px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.skill-2::before {
    transition: .8s all ease;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    content: '';
    background: rgba(10, 133, 255, 0.5);
    border-radius: 5px
}
.skill-2:hover::before {
    opacity: 1;
    transition: .8s all ease;
    top: 0;
    z-index: -1
}
.skill-3 {
    border: 2px solid #f0db4f;
    height: 180px;
    width: 180px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.skill-3::before {
    transition: .8s all ease;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    content: '';
    background: rgba(240, 219, 79, 0.5);
    border-radius: 5px
}
.skill-3:hover::before {
    opacity: 1;
    transition: .8s all ease;
    top: 0;
    z-index: -1
}
.skill-4 {
    border: 2px solid #7641c2;
    height: 180px;
    width: 180px;;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.skill-4::before {
    transition: .8s all ease;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    content: '';
    background: rgba(118, 65, 194, 0.5);
    border-radius: 5px
}
.skill-4:hover::before {
    opacity: 1;
    transition: .8s all ease;
    top: 0;
    z-index: -1
}
.skill-5 {
    border: 2px solid #4f5b93;
    height: 180px;
    width: 180px;;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}
.skill-5::before {
    transition: .8s all ease;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    content: '';
    background: rgba(79, 91, 147, 0.5);
    border-radius: 5px
}
.skill-5:hover::before {
    opacity: 1;
    transition: .8s all ease;
    top: 0;
    z-index: -1
}
.card-skills {
    padding-top: 1.5rem;
}
.card-skills img {
    width: 80px;
    height: 80px;
}

.projects {
    padding-top: 6rem;
    opacity: 0;
    transform: translate(0, -70px);
    transition: 1.2s;
}
.projects.pMuncul {
    opacity: 1;
    transform: translate(0,0);
    transition: 1.2s;
}
.projects span {
    color: #8cbbc5;
    font-weight: 500;
}
.projects h3 {
    font-weight: 400;
}
.projects .cardpro {
    border-radius: 10px;
}

.projects .main-card {
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 30%);
    opacity: 0;
    transform: translate(0, -70px);
    transition: 1.2s;
}
.projects .main-card.muncul {
    opacity: 1;
    transform: translate(0,0);
}
.projects .card-image {
    box-sizing: border-box;
    border: 3px solid #8cbbc5;
    border-radius: 10px;
}
.projects .card-image img {
    border-radius: 5px;
    border: 1px solid #8cbbc5;
}
.projects .card-body .soon{
    background: #6e948b;
    font-weight: 550;
}


.contact {
    padding-top: 2rem;
    padding-bottom: 3rem;
    opacity: 0;
    transform: translate(0, 30px);
    transition: 1.2s;
}
.contact.cMuncul {
    opacity: 1;
    transform: translate(0,0);
    transition: 1.2s;
}
.contact span {
    color: #8cbbc5;
    font-weight: 500;
}
.contact h3 {
    font-weight: 400;
}
.contact form {
    margin-top: 30px;
}
.contact .maps {
    border-radius: 12px;
    width: 100%;
    height: 30%;
}
.contact .send {
    background: #6e948b;
    font-weight: 550;
}


/* button top */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}


/* Breakpoint Desktop */
@media (min-width: 991.98px) { 
    
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 2px solid #8cbbc5;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
}
    .jumbotron {
        height: 600px;
        padding-top: 5rem;
    }
    .jumbotron img {
        padding-top: 4rem;
    }
    .jumbotron .hero {
        padding-top: 10rem;
    }
}